project name: Shop 
developers: Andreas Perner, Wolfram Nickl

1. project description:
--------------------

1.1 requirements:
-------------
A shop should be designed and implemented where some can create an order containing products.
A product consists of following attributes: id, name, weight, prize, vendor, supply period.
A product is of some product type that has following attributes: name, is it shipable, shipping type.
An order consists of order lines for requested products with some quantity. 
Such lines are grouped by the product category.
Since supply period per product can differ requested items can be shipped in combination with several part-deliveries. 
Shipping charges are calculated per part-delivery. Each part delivery has a maximum weight (configureable).

1.2 design:
-------
To fulfill the requirements a implementation in java (see http://de.wikipedia.org/wiki/Java_%28Programmiersprache%29) will be done.

1.2.1 objects:
--------------
For each domain entity a class will be created:
Order, OrderLine, Product, ProductCategory, (Part-)Delivery, Shippment, ...

1.2.1 workflow:
---------------
The user can create an empty order object and will request a specific product with some quantity.
The user can add or remove products from the order or change the requested quantity of some product.
After the user has managed his order the deliveries get calculated.
All delivery parts and shipping costs are shown to the user.
The user can now re-manage his order in case something is to change (too many items requested, too expensive, etc.).
After that the user confirms the order and the delivery objects are created. 

1.3 organizational:
-----------------

1.3.1 third-party libraries:
----------------------------
logging: log4j (see lib/logging)
xml:     dom4j (see lib/xml)

1.3.2 deployment:
-----------------
Is done via ant build (target is to create shop-1.0.jar)

1.3.3 documentation:
--------------------
requirements specification done in documentation/requirements
javadoc api created in folder documentation/javadoc

1.3.3.1 put in operation docu:
------------------------------
to start the application type 'java shop-1.0.jar' in console